# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Environment files
.env
.env.*

# Docker
*.log
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

# Database
*.sqlite3
*.db

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Migrations
migrations/

# Others
init_db.py
